extends layout

block mainContent
    h1= title
    #articles
        - each article in articles
            div.article
                div.created_at Created at: #{article.date}
                div.title
                    a(href="/articles/"+article._id)!= article.title
                div.body= article.body