extends layout

block mainContent
    .container
        .row
            .blog-header.col-sm-12
                h1.blog-title= title
                p.lead.blog-description= description
            .blog-main.col-sm-12
                form.form-horizontal( role="form", method="post", action="/articles")
                    .form-group
                        label.col-sm-2.control-label(for="editArticleTitle") Title :
                        .col-sm-10
                            input(type="text", name="title", id="editArticleTitle", class="form-control", placeholder="Text input")
                    .form-group
                        label.col-sm-2.control-label(for="editArticleBody") Body :
                        .col-sm-10
                            textarea.form-control( name="body", rows=20, id="editArticleBody")
                    .form-group
                        button.btn.btn-default(type="submit") Send