@import 'nib'
@import 'nib/reset'

html
  height 100%
body
  height 100%
  font-family "Helvetica Neue", "Lucida Grande", "Arial"
  font-size 13px
  color #555
  background: linear-gradient(-45deg,  #ffffff 0%,#f6f6f6 47%,#ededed 100%)
h1, h2
  margin 0
  font-size 22px
  color #343434
h1
  text-shadow 1px 2px 2px #ddd
  font-size 60px
  text-align center
.inner
  margin 0 auto
  width 1024px
#articles
  text-align left
  margin-left auto
  margin-right auto
  width 320px
  .article
    margin 20px
    border 1px solid whitesmoke
    padding 10px
    background #dff
    .created_at

    .title
        font-weight bold
        text-decoration underline
        background-color #eee
    .body
        background-color #ffa
.article
  .created_at
  .title
    text-align: center;
  input[type =text]
    width 490px
    margin-left 16px
  input[type =button], input[type =submit]
    text-align left
    margin-left 440px
  textarea
    width 490px
    height 90px
    margin-left: 16px;
form
  label
    vertical-align: top;
  div
    margin: 0 auto;
    width: 500px;
.article
  .body
    max-width: 500px;
    margin: 2px auto;
    padding: 5px;
    background: #fed;
    border: 1px solid #aef;
    border-radius: 6px;
.comment
  max-width: 300px;
  margin: 15px auto;
  padding: 8px;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 1px 1px 5px 1px #ebb;
  .person

  .comment-body
    font-style: italic;
  span
    text-decoration: underline;
    font-style: normal;